.container {
  color: black;
  padding: 2rem;
  min-height: 100vh;
  background-color: white;
}

.header {
  margin-bottom: 1.5rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }
}

.emptyTable {
  color: grey;
  font-size: 0.95rem;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.listItem {
  background-color: white;
  padding: 1rem;
  border: 1px solid;
}

.tableWrapper {
  background-color: white;
}

.table {
  width: 100%;

  thead {
    th {
      padding: 1rem;
      text-align: left;
      font-weight: 600;
      font-size: 1rem;
      color: black;
    }
  }

  tbody {
    tr:hover {
      background-color: rgb(210, 200, 200);
    }
    td {
      padding: 1rem;
      font-size: 0.9rem;
      color: rgb(88, 88, 88);
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 4px;

  .info {
    color: gray;
  }

  .controls {
    display: flex;
    gap: 0.5rem;
  }
}

.button {
  padding: 0.5rem 1rem;
  background-color: black;
  cursor: pointer;
  font-size: 1rem;
  color: white;

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
    opacity: 0.8;
  }
}
